@page
@model IndexModel
@{
    ViewData["Title"] = "SafeZone";
}

<div class="text-center">
    <h1><img src="~/logo_safezone-removebg-preview 2.png" alt="SafeZoneLogo" /></h1>
    <h2 class="h-25">Entenda</h2>
    <p><img src="~/termo-removebg-preview 1.png" alt="Termometro" style="margin-right" /></p>
    <p>O SafeZone é um sistema inteligente de comunicação e prevenção voltado para populações vulneráveis durante situações de emergência climática, como ondas de calor extremo e focos de incêndio.</p>
</div>
